*{
    margin: 0;
    padding: 0;
}

/* ヘッダー */
header{
    display: flex;
}
#link-box{
    display: flex;
    margin: auto;
    margin-right: 0;
}
.header-link{
    background-color: red;
    color: black;
    text-align: center;
    font-size: 1rem;
    width: 100px;
    padding: 4px;
}
.header-icon{
    display: block;
    font-size: 1.3rem;
}

/*bookmark*/
.bookmark{
    text-align: center;
    display: inline-block;
}
.link_box{
    text-align: center;
    display: inline-block;
    background-color: red;
    color: white;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    font-size: 45px;
    margin: 10px;
    vertical-align: middle;
}
.link_name{
    display: inline-block;
    color: black;
    max-width: 200px;
    margin: 5px;
}

/* フッター */
